{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Sunwinephoto</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">

 <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/lightgallery.min.css' %}">    

  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'css/swiper.css' %}">

  <link rel="stylesheet" href="{% static 'css/aos.css' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    



    <header class="site-navbar py-3" role="banner">

      <div class="container-fluid">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2" data-aos="fade-down">
            <h1 class="mb-0"><a href="/" class="text-white h2 mb-0">Sunwinephoto</a></h1>
          </div>
          <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li><a href="/">Главная</a></li>
                <li class="has-children">
                  <a href="/gallery">Галерея</a>
                  <ul class="dropdown">
                    {% for category in categories %}
                    <li><a href="/category/{{category.slug}}/">{{category.title}}</a></li>
                  {% endfor %}
                    </li>
                  </ul>
                </li>
                <li><a href="/services">Мои услуги</a></li>
                <li class="active"><a href="/about-me">Обо мне</a></li>
                <li><a href="/contact">Контакты</a></li>
              </ul>
            </nav>
          </div>

          <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
            <div class="d-none d-xl-inline-block">
              <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                <li>
                  <a href="https://www.facebook.com/elhvinasarkisova" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                </li>
                
                <li>
                  <a href="https://www.instagram.com/sunwinephoto" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                </li>
                <li>
                  <a href="https://t.me/sunwinephoto" class="pl-3 pr-3"><span class="icon-telegram"></span></a>
                </li>
              </ul>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>


    <div class="site-section"  data-aos="fade">
      <div class="container-fluid">

        <div class="row justify-content-center">

          <div class="col-md-7">
            <div class="row mb-5">
              <div class="col-12 ">
                <h2 class="site-section-heading text-center">Давай знакомиться!</h2>
              </div>
            </div>
          </div>

        </div>
        
        <div class="row mb-5">
          <div class="col-md-7">

            <img src="{% static 'images/IMG_2976.jpg' %}" alt="Images" class="img-fluid">
          </div>
          <div class="col-md-4 ml-auto">
            <h3 class="text-white mb-4">О себе</h3>
            <p class="text-white mb-3">Меня зовут Эльвина и я - фотограф 😊.
              Фотография была моим хобби с самого детства. Повзрослев, я решила исполнить свою мечту и стать профи.
              Что я могу тебе предложить?
              Отличное времяпровождение на фотосессии, замечательные кадры, море позитива и долгосрочное сотрудничество!
              </p>
            <p class="text-white mb-0">Пиши, звони, и будем работать 😊.</p>
          </div>
        </div>


        <div class="row site-section">
          <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">

            <img src="{% static 'images/IMG_9063-31.jpg' %}" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
            <h2 class="text-white font-weight-light mb-4">Тхай Виталий</h2>
            <p class="text-white mb-3">Мой дорогой и сердечный друг. А ещё незаменимый помощник и прекрасная модель. 
              PS: Девчата, кстати он свободен (пока).</p>
            <p>
              <a href="https://www.instagram.com/kangokujin/" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a href="https://www.facebook.com/profile.php?id=100015142929340" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
              <a href="https://web.telegram.org/#/im?p=@kangokujin" class="pl-3 pr-3"><span class="icon-telegram"></span></a>
            </p>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
            <img src="{% static 'images/7a6504de-7a7a-4fa3-b904-932c25e91d83.jpg' %}" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
            <h2 class="text-white font-weight-light mb-4">Loftroom Studio</h2>
            <p class="text-white mb-3">Студия с которой я сотрудничаю и где я получила огромнеший опыт. Приходите к нам, будем фоткаться!</p>
            <p>
              <a href="https://www.instagram.com/loftroomstudio/" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a href="https://www.facebook.com/loftroomuz" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
              <a href="https://web.telegram.org/#/im?p=@Loftroomstudio" class="pl-3 pr-3"><span class="icon-telegram"></span></a>
            </p>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
            <img src="{% static 'images/IMG_2972.jpg' %}" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
            <h2 class="text-white font-weight-light mb-4">Эльвина Саркисова</h2>
            <p class="text-white mb-3">Это Я! Мой личный аккаунт, если захотите подружиться, то я всегда открыта для общения)</p>
            <p>
              <a href="https://www.instagram.com/el.sarkisova/" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a href="https://www.facebook.com/elhvinasarkisova" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
              <a href="https://web.telegram.org/#/im?p=@El_Sarkisova" class="pl-3 pr-3"><span class="icon-telegram"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/swiper.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>

  <script src="{% static 'js/picturefill.min.js' %}"></script>
  <script src="{% static 'js/lightgallery-all.min.js' %}"></script>
  <script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>

  <script src="{% static 'js/main.js' %}"></script>
  
  <script>
    $(document).ready(function(){
      $('#lightgallery').lightGallery();
    });
  </script>

</body>
</html>
