{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Sunwinephoto</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/lightgallery.min.css' %}">    

  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'css/swiper.css' %}">

  <link rel="stylesheet" href="{% static 'css/aos.css' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-3" role="banner">

      <div class="container-fluid">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2" data-aos="fade-down">
            <h1 class="mb-0"><a href="/" class="text-white h2 mb-0">Sunwinephoto</a></h1>
          </div>
          <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li><a href="/">Главная</a></li>
                <li><a href="/news">Новости</a></li>

                <li class="has-children">
                  <a href="/gallery">Галерея</a>
                  <ul class="dropdown">
                    {% for category in categories %}
                      <li><a href="/category/{{category.slug}}/">{{category.title}}</a></li>
                    {% endfor %}
                      
                  
                  </ul>
                </li>
                <li><a href="/services">Мои услуги</a></li>
                <li><a href="/about-me">Обо мне</a></li>
                <li class="active"><a href="/contact">Контакты</a></li>
              </ul>
            </nav>
          </div>

          <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
            <div class="d-none d-xl-inline-block">
              <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                <li>
                  <a href="https://www.facebook.com/elhvinasarkisova" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                </li>
                
                <li>
                  <a href="https://www.instagram.com/sunwinephoto" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                </li>
                <li>
                  <a href="https://t.me/sunwinephoto" class="pl-3 pr-3"><span class="icon-telegram"></span></a>
                </li>
              </ul>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>



    <div class="site-section"  data-aos="fade">
      <div class="container">

        <div class="row justify-content-center">

          <div class="col-md-7">
            <div class="row mb-5">
              <div class="col-12 ">
                <h2 class="site-section-heading text-center">Контакты</h2>
              </div>
            </div>
          </div>

        </div>
        
        <div class="row">
          <div class="col-lg-8 mb-5">
            <form action="/contact" method="post">
              {% csrf_token %}

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-white" for="fname">Имя</label>
                  <input type="name" id="name" name="name" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="text-white" for="lname">Фамилия</label>
                  <input type="surname" name="surname" id="surname" class="form-control">
                </div>
              </div>

              <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-white" for="phone">Номер телефона</label> 
                  <input type="number" id="phone" name="phone" class="form-control">
                </div>
              </div>

              <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-white" for="subject">Предмет сообщения</label> 
                  <input type="subject" id="subject" name="subject" class="form-control">
                </div>
              </div>
              
              <div class="row form-group">

                <div class="col-md-12" onclick='order()'>
                  <label class="text-white" for="order">Заказать фотосессию</label> 
                  <input type="checkbox" id="order" name="order" class="form-control">
                </div>
              </div>

              <div class="row form-group" id = 'dateForm' style='display: none;'>

                <div class="col-md-12">
                  <label class="text-white" for="date">Дата</label> 
                  <input id="datebox" type="date" id="date" name="date" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-white" for="message">Сообщение</label> 
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Вы можете задать свои вопросы здесь . . ."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Отправить" class="btn btn-primary py-2 px-4 text-white">
                </div>
              </div>


            </form>
          </div>
          <div class="col-lg-3 ml-auto">
            <div class="mb-3">
              
              <p class="mb-0 font-weight-bold text-white">Телефон</p>
              <p class="mb-4"><a href="#">+998 94 691 21 55</a></p>

              <p class="mb-0 font-weight-bold text-white">Email</p>
              <p class="mb-0"><a href="#">sunwinephoto@gmail.com</a></p>

            </div>
           

          </div>
        </div>
      </div>
    </div>

   
  </div>
  <script>
    let tagged = 0;
  </script>
  <script>
    order = () => {
      let dateForm = document.getElementById('dateForm');
      if (tagged){
        dateForm.style.display = 'none'
        tagged = 0
      }
      else{
        dateForm.style.display = 'block'
        tagged = 1
      }
    }
  </script>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/swiper.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>

  <script src="{% static 'js/picturefill.min.js' %}"></script>
  <script src="{% static 'js/lightgallery-all.min.js' %}"></script>
  <script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>

  <script src="{% static 'js/main.js' %}"></script>
  
  <script>
    $(document).ready(function(){
      $('#lightgallery').lightGallery();
    });
  </script>

</body>
</html>